* {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}

body {
    background-color : #F5F4F0;
    color : #1B1B1B; 
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width : 100%;
    display : block;
}

#page {
    width : 1120px;
    margin : 88px auto;
}

#inicio .headline {
    margin-bottom: 8px;
}

.headline{
    color: #E1624F;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

main img {
    border-radius: 28px;
}

.description {
    font-size: 16px;
    line-height: normal;
    font-style: italic;
    text-align: center;
}

#inicio h1{
    margin-bottom: 40px;
}

h1 {
    font-size: 36px;
    line-height: 49px;
    font-weight: 700;
}

h2 {
    font-size: 32px;
    line-height: 44px;
    font-weight: 700;
}

h3 {
    font-size: 28px;
    line-height: 38px;
    font-weight: 700;
}

p {
    font-size: 16px;
    line-height: 22px;
    color: #333333;
}